
<header class="header">

    <div class="container header-el">
        <a href="./index.html">
            <svg class="header-logo">
              <use href="./images/icon.svg#icon-logo"></use>
             
            </svg>
        </a>
        
        <form action="">
    <button class="header-btn" type="submit">
                <svg class="header-icon" width="18px" height="18px">
                    <use href="./images/icon.svg#search"></use>
                  </svg></button>
            <input
              type="text"
              name="searchQuery"
              class="header-input"
              placeholder="SEARCH"
            />

        </form>
    </div>
</header>
        