<!--HERO SECTION-->
<section class="hero container">
  <div class="hero-section">
    <p class="hero-subtitle">Web-based platform</p>
    <h1 class="hero-title">Marvelous Adventures</h1>
    <p class="hero-desc">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <a href="./character.html" class="hero-btn hero-btn-characters">Characters</a>
    <a href="./comics.html" class="hero-btn">Comics</a>
  </div>

   <!--SLIDER SECTION-->
   <div class="hero-slider-section">
    <!--SLIDER BUTTONS-->
    <ul class="slider-buttons">
      <li><button class="first-slider-btn slider-btn"></button></li>
      <li><button class="middle-slider-btn slider-btn"></button></li>
      <li><button class="last-slider-btn slider-btn"></button></li>
    </ul>

    <!--SLIDER IMAGES-->
    <div class="hero-slider">
      <ul class="hero-slider-images">
        <li>
          <img
            src="./images/hero-images/panther-slider.svg"
            class="blackpanther-slider-img slider-img"
            alt="blackpanther-hero"
          />
        </li>
        <li>
          <img
            src="./images/hero-images/spiderman-slider.svg"
            width="200"
            class="spiderman-slider-img slider-img"
            alt="spiderman-hero"
          />
        </li>
        <li>
          <img
            src="./images/hero-images/hulk-slider.svg"
            class="hulk-slider-img slider-img"
            alt="hulk-hero"
          />
        </li>
      </ul>
    </div>
 
     <!--HERO CARD SECTION-->
     <div class="hero-card-section">
  
      <div class="hero-card-block">
      <div class="hero-card">

        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>

        <div class="hero-png">
          <ul class="">
            <li class="hero-png-panter"><img src="./images/hero-images/panter.png" alt="Image 1"></li>
            <li class="hero-png-spider"><img src="./images/hero-images/spider.png" alt="Image 2"></li>
            <li class="hero-png-hulk"><img src="./images/hero-images/hulk.png" alt="Image 3"></li>
          </ul>
        </div>

        <div class="hero-circle">
          <div class="hero-circle-text">BLACK PANTHER</div>
        </div>
      
           <a href="./character.html">
          <svg class="icon-arrow2">
            <use href="./images/icons.svg#icon-arrow2"></use>
          </svg>
        </a>
        
      </div>
      <div class="hero-gradient"></div>

      <img src="./images/hero-images/line.svg" class="characters-border-line" alt="line">
      
      <!--THIN LINE-->
      
      <!--CHARACTERS INFO SECTION-->
      <div class="characters-section">
        <h3 class="characters">Characters</h3>
        <!--CHARACTERS DESCRIPTION-->
        <p class="characters-desc">
          T’Challa is the king of the secretive and highly advanced African
          nation of Wakanda - as well as the powerful warrior known as the Black
          Panther.
        </p>

      </div>
      </div>
    </div>
  </div>
</section>

