<section class="lc-section">
    <div class="lc-title">
    <h2 class="rc-title">Last Comics</h2>
    <a href="./character.html" class="">
        <svg class="lc-icon-arrow">
          <use href="./images/icons.svg#icon-arrow2"></use>
        </svg></a>
    </div>

<div class="lc-slider-block">
     <div class="lc-slider">
     <ul id="lc-list" class="lc-list"></ul>
    </div>
</div>   

    <div class="comics-buttons">
        <button type="button" class="swiper-button-prev left-slider"></button>
        <button type="button" class="swiper-button-next right-slider"></button>
    </div>
 </section>