@import url(./constants.css);

body {
  background-color: var(--background);
}

.hero {
    margin-bottom: 80px;
    margin-top: 92px;
  }

  .hero-section {
    font-family: 'Poppins';
    color: var(--text);
  }

  .hero-subtitle {
    font-family: 'Poppins';
    text-transform: uppercase;
    color: var(--text07);
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
  }
  
  .hero-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 44px;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  .hero-desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
  }


  .hero-buttons-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .hero-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ccc;
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid rgba(250, 250, 250, 0.5);
border-radius: 1000px;
margin-top: 20px;
text-transform: uppercase;
}

.hero-btn:hover {
    background-color: #272a65;
    transition: 0.1s ease-in-out;
    transform: scale(1.01);
  }

  .hero-btn-characters {
    background-color: #272a65;
  }

  /* NEEDS TO BE CHANGED AFTER JS SLIDER*/
.spiderman-slider-img,
.hulk-slider-img {
  display: none;
}

.hero-card-block {
  width: 237px;
  margin-left: auto;
}

.hero-card {
  position: relative;
  background-color: #171717;
  width: 237px;
  height: 343px;
  padding-top: 120px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-bottom: 14px;
}

.stripe {

  background-color: white;
  height: 1.2px;
  transform: rotate(22deg);
  margin-bottom: 13px;
  width: 120%;
  margin-left: -10%;
}

.icon-arrow2 {
  fill: #34387F;
  width: 24px;
  height: 24px;
  position: absolute;
bottom: 13;
right: 17;
   }
.icon-arrow2:focus{ 
  transition: 0.1s ease-in-out;
   transform: scale(1.01);
  }
  

.hero-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #34387F;
    bottom: 13;
    left: 17;
    background: radial-gradient(81.15% 81.15% at 50% 18.85%, #34387F 0%, #171717 100%);
  }

  .hero-circle-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #FAFAFA;
    list-style: none;
  text-align: center;
  }

  .hero-circle-text li:nth-child(2) {
    display: none;
    
  }

  .hero-circle-text li:nth-child(3) {
    display: none;
  }

  .hero-png {
    position: absolute;
  }

  .hero-png {
    position: absolute;
    top: 0;
    left: 0;
    /* Додаткові стилі для .hero-png */
  }

  .hero-gradient {
position: absolute;
width: 260px;
height: 234px;
top: 1020px; 
z-index: -1;
background: #34387F;
filter: blur(47px);
border-radius: 200000px;
  }
  
  .hero-png li {
    position: relative;}

  .hero-png-panter {
    position: absolute;
    display: block;
    width: 200px;
    height: 319px;
    left: 47px;
    top: 23px;
    filter: drop-shadow(0px 4px 28px rgba(7, 7, 7, 0.25));

  }

  .hero-png-spider{
    position: absolute;
    display: none;
    width: 147px;
    right: -70px;
    top: 95px;
    filter: drop-shadow(0px 4px 28px rgba(7, 7, 7, 0.25));
  }

  .hero-png-hulk{
    position: absolute;
    display: none;
    width: 190px;
    left: 5;
    top: 90px;
    filter: drop-shadow(0px 4px 28px rgba(7, 7, 7, 0.25));
  }



/* NEEDS TO BE CHANGED AFTER JS SLIDER*/
.slider-buttons {
    position: relative;
    right: 155px;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: rotate(90deg);
    gap: 14px;
    margin-bottom: 18px;
  }

  .slider-btn {
    background-color: rgba(23, 23, 23, 0.8);
    border: none;
    width: 72px;
    height: 4px;
  }

  .slider-btn:hover {
    transform: scale(1.05);
  }
  
  .first-slider-btn {
    background-color: var(--btn3);
  }

  .slider-img {
    margin-left: 18px;
    margin-bottom: 20px;
  }
  
  .slider-img:hover {
    transform: scale(1.02);
  }

  .img-card {
    margin-left: 105px;
    margin-bottom: 14px;
    box-shadow: -5px 80px 60px 10px #3840da4d;
    /* background: #e21b1b; */
  }

  .img-card:hover {
    transform: scale(1.02);
  }
  
  .hero-arrow-green,
  .hero-arrow-red {
    display: none;
  }

  .characters-border-line {
    position: relative;
    margin-left: auto;
    width: 237px;
    margin-bottom: 16px;
  }
  
  .characters {
    color: var(--text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
  }
  
  .characters-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .characters-desc {
    width: 127px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: var(--text05);
  }
  
  .slider-img,
  .img-card {
    width: 237px;
    height: 343px;
  }


  @media screen and (min-width: 768px) {
  
    .hero-section {
      margin-bottom: 32px;
    }

    .hero-subtitle {
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.6;
  }

  .hero-title {
    font-size: 80px;
  }

  .hero-desc {
    width: 473px;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  .hero-buttons-list {
    margin-bottom: 90px;
  }

  .slider-img,
  .img-card {
    margin-left: 0;
    margin-top: 79px;
    margin-right: 32px;
   width: 336px;
    height: 540px;
  }

  .slider-img {
    /* margin-left: 18px;
    margin-bottom: 20px; */
  }



  .hero-slider-section {
    display: flex;
    justify-content: space-between;
    /* gap: 32px; */
  }

  .slider-buttons {
    display: flex;
    left: 540px;
    top: 340px;
    transform: rotate(0deg);
    width: 0;
  }

  .hero-card-block {
    width: 336px;
    margin-left: auto;
  }
  
  .hero-card {
    width: 336px;
    height: 540px;
    padding-top: 180px;
    margin-bottom: 16px;
  }

  .stripe {
    margin-bottom: 22px;
  }

  .characters-border-line {
    width: 336px;
    left: 0px;
    top: 0px;
  }

  .characters-section {
    /* gap: 65px; */
    position: relative;
  }


  .slider-btn {
    width: 100px;
  }

  .hero-png-panter {
    width: 361px;
    /* height: 217px; */
    left: 67px;
    top: 93px;}

    .hero-png-spider{
      width: 247px;
      left: 90px;
      top: 160px;
    }
  
    .hero-png-hulk{
      width: 280px;
      left: 2;
      top: 165px;
    }
  


  .icon-arrow2 {
  width: 32px;
  height: 32px;
bottom: 16;
right: 16;
   }

.hero-circle {

    width: 144px;
    height: 144px;
    bottom: 16;
    left: 16;
    padding: 10px;
    
  }

  .hero-circle-text {
    font-weight: 500;
    font-size: 24px;
  }

  .characters {
    font-size: 12px;
   
  }
  
  .characters-desc {
    width: 230px;
    color: rgba(250, 250, 250, 0.50);
  }

  .hero-gradient {
    position: absolute;
    width: 332px;
    height: 300px;
    top: 860px; 
    z-index: -1;
    background: #34387F;
    filter: blur(47px);
    border-radius: 200000px;
      }

}

@media screen and (min-width: 1440px) {
  .hero-title {
    width: 538px;
  }

  .hero {
    display: flex;
    margin-bottom: 168px;
    justify-content: space-between;
  }

  .hero-desc {
    width: 527px;
  }

  .hero-section {
    margin-right: 66px;
    gap: 134px;
  }


  .hero-card-section {
    position: relative;
  }

  .hero-slider-section {
    display: flex;
    justify-content: end;
  }

  .slider-buttons {
    transform: rotate(90deg);
    left: -22px;
    top: 255px;
  }

  .slider-img,
  .img-card {
    width: 352px;
    height: 540px;
  }

  .img-card {
    position: absolute;
    top: -120px;
    left: 45px;
  }

  .slider-img {
    position: relative;
    top: 110px;
  }

  .hero-card-block {
    width: 352px;
    margin-left: auto;
  }
  
  .hero-card {
    width: 352px;
    height: 540px;
    top: -87px;
    right: -15px;
  }

  /* .stripe {
    margin-bottom: 22px;
  } */

  .characters-border-line {
    /* position: absolute; */
    top: -71px;
  }
  

  .characters {
     position: absolute;
    font-size: 14px;
    top: -71px;
    left: 15px;
  }
  
  .characters-desc {
    top: -71px;
    right: 0;
    size: 12px;
    position: absolute;
    width: 230px;
    color: rgba(250, 250, 250, 0.50);
  }

  .hero-gradient {
    top: 230px; 
    right: 0;
    z-index: -1;
    background: #34387F;
    filter: blur(47px);
    border-radius: 200000px;
      }


}
