@import url(./constants.css);

body {
  background-color: var(--background);
}

.hero {
    margin-bottom: 80px;
    margin-top: 92px;
  }

  .hero-section {
    font-family: 'Poppins';
    color: var(--text);
  }

  .hero-subtitle {
    font-family: 'Poppins';
    text-transform: uppercase;
    color: var(--text07);
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
  }
  
  .hero-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 44px;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  .hero-desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
  }


  .hero-buttons-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .hero-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ccc;
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid rgba(250, 250, 250, 0.5);
border-radius: 1000px;
margin-top: 20px;
}

.hero-btn:hover {
    background-color: #272a65;
    transition: 0.1s ease-in-out;
    transform: scale(1.01);
  }

  /* NEEDS TO BE CHANGED AFTER JS SLIDER*/
.spiderman-slider-img,
.hulk-slider-img,
.characters-desc-spiderman,
.characters-desc-hulk {
  display: none;
}

.hero-card-block {
  width: 237px;
  margin-left: auto;
}

.hero-card {
  position: relative;
  background-color: #171717;
  width: 237px;
  height: 343px;
  padding-top: 120px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-bottom: 14px;
}

.stripe {

  background-color: white;
  height: 1.2px;
  transform: rotate(22deg);
  margin-bottom: 13px;
  width: 120%;
  margin-left: -10%;
}

.icon-arrow2 {
  fill: #34387F;
  width: 24px;
  height: 24px;
  position: absolute;
bottom: 13;
right: 17;
   }

.hero-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #34387F;
    bottom: 13;
    left: 17;
    background: radial-gradient(81.15% 81.15% at 50% 18.85%, #34387F 0%, #171717 100%);
  }

  .hero-circle-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #FAFAFA;
    list-style: none;
  text-align: center;
  }

  .hero-circle-text li:nth-child(2) {
    display: none;
    
  }

  .hero-circle-text li:nth-child(3) {
    display: none;
  }

  .hero-png {
    position: absolute;
  }

  .hero-png {
    position: absolute;
    top: 0;
    left: 0;
    /* Додаткові стилі для .hero-png */
  }

  .hero-gradient {
position: absolute;
width: 260px;
height: 234px;
top: 1020px; 
z-index: -1;
background: #34387F;
filter: blur(47px);
border-radius: 200000px;
  }
  
  /* .hero-png ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 5;
  } */
  
  .hero-png li {
    position: relative;}

  .hero-png-panter {
    position: absolute;
    display: block;
    width: 200px;
    height: 319px;
    left: 47px;
    top: 23px;
    filter: drop-shadow(0px 4px 28px rgba(7, 7, 7, 0.25));

  }

  .hero-png-spider{
    position: absolute;
    display: none;
    width: 147px;
    /* height: 359px; */
    right: -70px;
    top: 95px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    filter: drop-shadow(0px 4px 28px rgba(7, 7, 7, 0.25));
  }

  .hero-png-hulk{
    position: absolute;
    display: none;
    width: 190px;
    /* height: 359px; */
    left: 5;
    top: 90px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    filter: drop-shadow(0px 4px 28px rgba(7, 7, 7, 0.25));
  }



/* NEEDS TO BE CHANGED AFTER JS SLIDER*/
.slider-buttons {
    position: relative;
    right: 155px;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: rotate(90deg);
    gap: 14px;
    margin-bottom: 18px;
  }

  .slider-btn {
    background-color: rgba(23, 23, 23, 0.8);
    border: none;
    width: 72px;
    height: 4px;
  }

  .slider-btn:hover {
    transform: scale(1.05);
  }
  
  .first-slider-btn {
    background-color: var(--btn3);
  }

  .slider-img {
    margin-left: 18px;
    margin-bottom: 20px;
  }
  
  .slider-img:hover {
    transform: scale(1.02);
  }

  .img-card {
    margin-left: 105px;
    margin-bottom: 14px;
    box-shadow: -5px 80px 60px 10px #3840da4d;
    /* background: #e21b1b; */
  }

  .img-card:hover {
    transform: scale(1.02);
  }

  /* .hero-arrow {
 
    position: relative;
    top: -45.5px;
    right: -304px;
    fill: #34387f;
    width: 22px;
    height: 22px;
  } */
  
  .hero-arrow-green,
  .hero-arrow-red {
    display: none;
  }

  .characters-border-line {
    position: relative;
    margin-left: auto;
    width: 237px;
    margin-bottom: 16px;
  }
  
  .characters {
    color: var(--text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
  }
  
  .characters-section {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }
  
  .characters-desc {
    width: 127px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: var(--text05);
  }
  
  .slider-img,
  .img-card {
    width: 237px;
    height: 343px;
  }

/* .hero_section {
    display: flex;
    flex-wrap: wrap;

}

.hero-block {
    flex: 1;
    border: 1px solid gray;
}

.hero-list {
    gap: 20px;
}

.block-left {
    width: 335px;
}

.web-subtitle {
    margin-top: 92px;
}

.hero-title {
    margin-top: 14px;
}

.hero-text {
    margin-top: 16px;
    font-weight: 400;
font-size: 14px;
line-height: 1.3;
}

.hero-btn- {
    margin-top: 20px;
}

.hero-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ccc;
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid rgba(250, 250, 250, 0.5);
border-radius: 1000px;
margin-top: 20px;
}

.hero-img {
margin-top: 40px;
width: 237px;
height: 343px;
}

.hero-block-lines {
border-radius: 0px 0px 0px 4px;
width: 237px;
background-color: var(--find);
margin-left: auto;
}

.square {
width: 90px;
height: 90px;
background: radial-gradient(81.15% 81.15% at 50% 18.85%, #34387F 0%, #171717 100%);
border-radius: 50%;
}

.hero-text-smalltitle {
    width: 237px;
    margin-left: auto;
    weight: 400;
    size: 12px;
}

.hero-text-small{
    width: 237px;
    margin-left: auto;
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
letter-spacing: -0.02em;
color: var(--text05);
    
}

.line {
    background-color: red;
    width: 320px;
height: 0px;
border: 1px solid rgba(250, 250, 250, 0.15);
  }


  

  @media screen and (min-width: 768px) {



    .square {
        width: 144px;
        height: 144px;
    }
  }
  @media screen and (min-width: 1440px) {} */